@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}


html{
  height:initial;
  width:initial;
}


body {
  position: inherit;
  background-image: url(../portfolio_imagies/main_background/page_background.jpg);
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  font-size: medium;
  margin: 0%;
}


h2 {
  margin: 0%;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.473);
  font-size: 260%;
  background: radial-gradient(closest-side, #040404, #a4a4a4, #000000b8);
  background-clip: text;
  color: transparent;
}

body p{
  margin: 2%;
  text-indent: 4%;
  font-size: 130%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.473);
  text-wrap:wrap ;
}

ul {
  list-style: none;
}

/* ----------------------------------------cert_awards------------------------------------------------------------------------ */
.cert_awards {
  display: flex;
  flex-direction: column;
}

/* -----------------------------------------header and title----------------------------------------------------------------- */
.container {
  position: relative;
  height: inherit;
  width: inherit;
  max-height:min-content;
  max-width:max-content;
  margin: 0 auto;
  font-family: "Tangerine",'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  font-size: 200%;
  padding: 0%;
}

.container img {
  max-width: 100%;
  height: 70%;
  width: 5000px;
}

.container p {
  font-size: 100%;
  margin-top: 0%;

}

.container .content {
  position: absolute;
  bottom: 9px;
  left: 0%;
  right: 0%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: inherit;
  padding: 20px;
  font-size: 100%;
  backdrop-filter: sepia(80%);
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------CDL------------------------------------------------------------------- */

.cdl {
  margin: 2%;
}

.cdl h3 {
  font-size: 180%;
  text-decoration: underline;
  margin: 1%;
}

.cdl h4 {
  font-size: 150%;
  margin: 1%;
}

.cdl ul {
  list-style: circle;
  margin: 1%;
}

.cdl ul li {
  font-size: 130%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.473);
}
/* ------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------underground-tank------------------------------------------------------------------- */

.underground-tank {
  margin: 2%;
}

.underground-tank h3 {
  font-size: 180%;
  text-decoration: underline;
  margin: 1%;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------cpr------------------------------------------------------------------- */

.cpr {
  margin: 2%;
}

.cpr h3 {
  font-size: 180%;
  text-decoration: underline;
  margin: 1%;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------coursera------------------------------------------------------------------- */

.coursera {
  margin: 2%;
}

.coursera h3 {
  font-size: 180%;
  text-decoration: underline;
  margin: 1%;
}

.coursera-pic img {
  width: 40%;
  height: auto;
  border-radius: 3%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------sidebar------------------------------------------------------------------- */
.icon-bar {
  display:none;
  background-color: #00000000;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.socials-content .dropdown {
  position: fixed;
  z-index: 1;
  right: 0%;
  top: 9.5%;
  background-color:transparent;
  overflow: hidden;
}

.icon-bar a {
  margin-top: 15%;
  float: none;
  display: block;
  width: inherit;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 16px;
}

.dropdown:hover .icon-bar{
  display: block;
}

.facebook {
  background: #3B5998;
  color: white;
}

.github {
  background: #000000;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.instagram {
  background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);   
  color: white;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------Nav Bar---------------------------------------------------------------------------------- */

.nav {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
}

.navbar {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  background-color:black;
  font-family:  'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float:right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  position: inherit;
  background-color:transparent;
  float:left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 72, 255);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display:none;
  position: sticky;
  background-color: #f9f9f9d4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:  rgba(0, 72, 255, 0.403);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------link to top----------------------------------------------------------------- */
.link_to_top {
  position: fixed;
  bottom: 1.5%;
  right: 1%;
  display:inline-flex;
  background-color: rgba(0, 0, 0, 0.296);
  padding: .07em;
  margin: .1em;
}

.link_to_top a {
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 12px;
  font-weight: 650;
  color:white;
}

.link_to_top:hover a{
  background-color: rgb(0, 72, 255)
}
/* ---------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------footer----------------------------------------------------------------- */
.copyrights p {
  background-color:black;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  color: rgb(254, 254, 254);
  text-decoration: underline;
}
/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 350px){
  html {
    width: 100%;
  }

  body {
    width: 100%;
  }

  img {
    width: 100%;
  }
  
  nav {
    width:100%;
  }

}

@media screen and (max-width: 700px){

  .container .content {
    padding: 3%
  }

  header .content h1 {
    font-size: 140%;
    margin: 1%;  
  }

  header .content p {
    font-size: 90%;
  }


  .cdl h3{
    font-size: 135%;
  }

  .cdl h4{
    font-size: 120%;
  }

  .cdl ul li {
    font-size: 100%;
  }

  .underground-tank h3{
    font-size: 135%;
  }

  .cpr h3{
    font-size: 135%;
  }

  .coursera h3{
    font-size: 135%;
  }

  body p {
    font-size: 100%;
    text-wrap: pretty;
  }

  .link_to_top div a {
    font-size: 80%;
  }

  .coursera-pic img {
    width: 70%;
    height: auto;
    border-radius: 3%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
}
@media screen and (max-width: 400px) {

  header .content h1 {
    font-size: 100%;
    margin: 1%;
  }

  header .content p {
    font-size: 80%;
  }

  h2 {
    font-size: 160%;
  }

  .cdl h3{
    font-size: 135%;
  }

  .cdl h4{
    font-size: 110%;
  }

  .cdl ul li {
    font-size: 90%;
  }

  .underground-tank h3{
    font-size: 135%;
  }

  .cpr h3{
    font-size: 135%;
  }

  .coursera h3{
    font-size: 135%;
  }


  body p {
    font-size: 90%;
    text-wrap: pretty;
  }
}